<!-- Page Content -->
<div class="container">
    <h1 class="my-4">
       Change Menu
    </h1>
    <hr>
    <div class="btn-group justify-content-between btnMealPackage" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Package
        </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" (click)="onPackageSelect(emp)" *ngFor="let emp of prov1">{{emp.packageName}}</a>
            </div>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#addNewPackage">
        <i class="fa fa-plus"></i> Add Meal Package
      </button>
        </div>

    </div>
    <div *ngIf="dailyFood">
        <h3 align="center"><small><img src="http://placehold.it/65 " class="center"/>&nbsp; {{dailyFood.packageName}}</small>

            <h5 align="float-right"><small>$ &nbsp;{{dailyFood.price}}</small></h5>
        </h3>

        <table class="table responsive table-hover">
            <thead>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Meal</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Monday</b></td>
                    <td>{{dailyFood.monday}}</td>
                    <td> <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#editMealModelMonday">
                <i class="fa fa-edit"></i>
              </button></td>
                </tr>
                <tr>
                    <td><b>Tuesday</b></td>
                    <td>{{dailyFood.tuesday}}</td>
                    <td><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#editMealModelTuesday">
                <i class="fa fa-edit"></i>
              </button></td>
                </tr>
                <tr>
                    <td><b>Wednesday</b></td>
                    <td>{{dailyFood.wednesday}}</td>
                    <td><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#editMealModelWednesday">
                <i class="fa fa-edit"></i>
              </button></td>
                </tr>
                <tr>
                    <td><b>Thursday</b></td>
                    <td>{{dailyFood.thursday}}</td>
                    <td><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#editMealModelThursday">
                <i class="fa fa-edit"></i>
              </button></td>
                </tr>
                <tr>
                    <td><b>Friday</b></td>
                    <td>{{dailyFood.friday}}</td>
                    <td><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#editMealModelFriday">
                <i class="fa fa-edit"></i>
              </button></td>
                </tr>
                <tr>
                    <td><b>Saturday</b></td>
                    <td>{{dailyFood.saturday}}</td>
                    <td><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#editMealModelSaturday">
                <i class="fa fa-edit"></i>
              </button></td>
                </tr>
                <tr>
                    <td><b>Sunday</b></td>
                    <td>{{dailyFood.sunday}}</td>
                    <td><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#editMealModelSunday">
                <i class="fa fa-edit"></i>
              </button></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#deletePackage">
        <i class="fa fa-trash"></i> Delete Package
      </button>
    </div>

</div>
<!-- /.container -->

<div class="modal fade" id="addNewPackage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addNewPackage="ngForm" (ngSubmit)="addNewPackageNameFunc(addNewPackage)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Create New Meal Package</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <input type="file" (change)="fileChangeEvent($event)" />

                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Package Name</label>
                        <input ngModel #packageName="ngModel" type="text" class="form-control" name="packageName" placeholder="Type the Package Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Package Price</label>
                        <input ngModel #packagePrice="ngModel" type="text" class="form-control" name="packagePrice" placeholder="$">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Package</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelMonday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentMonday="ngForm" (ngSubmit)="addPackageContentMondayFunc(addPackageContentMonday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Monday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentMonday="ngModel" type="text" class="form-control" name="packageContentMonday" placeholder="What 's in the menu on Monday">
                    </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelTuesday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentTuesday="ngForm" (ngSubmit)="addPackageContentTuesdayFunc(addPackageContentTuesday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Tuesday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentTuesday="ngModel" type="text" class="form-control" name="addPackageContentTuesday" placeholder="What 's in the menu on Tuesday">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelWednesday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentWednesday="ngForm" (ngSubmit)="addPackageContentWednesdayFunc(addPackageContentWednesday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Wednesday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentWednesday="ngModel" type="text" class="form-control" name="packageContentWednesday" placeholder="What 's in the menu on Wednesday">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelThursday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentThursday="ngForm" (ngSubmit)="addPackageContentThursdayFunc(addPackageContentThursday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Thursday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentThursday="ngModel" type="text" class="form-control" name="packageContentThursday" placeholder="What 's in the menu on Thursday">
                    </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelFriday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentFriday="ngForm" (ngSubmit)="addPackageContentFridayFunc(addPackageContentFriday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Friday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentFriday="ngModel" type="text" class="form-control" name="packageContentFriday" placeholder="What 's in the menu on Friday">
                    </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelSaturday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentSaturday="ngForm" (ngSubmit)="addPackageContentSaturdayFunc(addPackageContentSaturday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Saturday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentSaturday="ngModel" type="text" class="form-control" name="packageContentSaturday" placeholder="What 's in the menu on Saturday">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelSunday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentSunday="ngForm" (ngSubmit)="addPackageContentSundayFunc(addPackageContentSunday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Sunday Meal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentSunday="ngModel" type="text" class="form-control" name="packageContentSunday" placeholder="What 's in the menu on Sunday">
                    </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="deletePackage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete Small Package permanenty?</p>
                <p>Once deleted you will loose all the data within package</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>

    </div>
</div>