<!-- Page Content -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2"><i class="fa fa-table"></i>&nbsp;UPDATE/CHANGE MENU</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group justify-content-between btnMealPackage" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Package
        </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" (click)="onPackageSelect(emp)" *ngFor="let emp of prov1">{{emp.packageName}}</a>
            </div>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#addNewPackage">
        <i class="fa fa-plus"></i> Add Meal Package
      </button>
        </div>

    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>NOTE:</strong> You can only edit meal package after you select package from <b>Select Package Button</b>. If you have a new account and have not create new packages then you have to create a <b>New Meal Package</b>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div *ngIf="dailyFood">
        <h3 align="center"><small><img src="{{dailyFood.packageImg}}" class="rounded-circle img-thumbnail" width="50" height="50"/>&nbsp; <b>{{dailyFood.packageName}}</b></small>

            <h5 align="float-right"><small><i class="fa fa-tags"></i><b>Price:</b>&nbsp;$ {{dailyFood.price}}</small></h5>
        </h3>

        <table class="table responsive table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Meal</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-calendar"></i>&nbsp;<b>Monday</b></td>
                    <td>{{dailyFood.monday}}</td>
                    <td> <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#editMealModelMonday">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </button></td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i>&nbsp;<b>Tuesday</b></td>
                    <td>{{dailyFood.tuesday}}</td>
                    <td><button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#editMealModelTuesday">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </button></td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i>&nbsp;<b>Wednesday</b></td>
                    <td>{{dailyFood.wednesday}}</td>
                    <td><button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#editMealModelWednesday">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </button></td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i>&nbsp;<b>Thursday</b></td>
                    <td>{{dailyFood.thursday}}</td>
                    <td><button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#editMealModelThursday">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </button></td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i>&nbsp;<b>Friday</b></td>
                    <td>{{dailyFood.friday}}</td>
                    <td><button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#editMealModelFriday">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </button></td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i>&nbsp;<b>Saturday</b></td>
                    <td>{{dailyFood.saturday}}</td>
                    <td><button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#editMealModelSaturday">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </button></td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i>&nbsp;<b>Sunday</b></td>
                    <td>{{dailyFood.sunday}}</td>
                    <td><button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#editMealModelSunday">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </button></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-danger btn-lg btn-block" data-toggle="modal" data-target="#deletePackage">
        <i class="fa fa-trash"></i> Delete Package
      </button>
    </div>

</div>
<!-- /.container -->

<div class="modal fade" id="addNewPackage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addNewPackage="ngForm" (ngSubmit)="addNewPackageNameFunc(addNewPackage)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"><i class="fa fa-plus"></i>&nbsp;ADD MEAL PACKAGE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success" role="alert">
                        You can now create a new meal package. Go ahead and add new photo for the meal package, meal package name and <b>Monthly</b> price you want to sell it for.
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlInput1"><i class="fa fa-image"></i>&nbsp;<b>Select Photo for the Meal Package</b></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" (change)="fileChangeEvent($event)">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                      </div>
                    </div>
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>

                    <div class="form-group">
                        <label for="exampleFormControlInput1"><i class="fa fa-archive"></i>&nbsp;<b>Meal Package Name</b></label>
                        <input ngModel #packageName="ngModel" type="text" class="form-control" name="packageName" placeholder="Super Delux Meal">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1"><i class="fa fa-tags"></i>&nbsp;<b>Package Price</b></label>
                        <input ngModel #packagePrice="ngModel" type="text" class="form-control" name="packagePrice" placeholder="$$$$$">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Close</button>
                    <button type="submit" class="btn btn-outline-success"><i class="fa fa-plus"></i>&nbsp;Create Package</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelMonday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentMonday="ngForm" (ngSubmit)="addPackageContentMondayFunc(addPackageContentMonday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Monday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentMonday="ngModel" type="text" class="form-control" name="packageContentMonday" placeholder="What 's in the menu on Monday">
                    </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelTuesday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentTuesday="ngForm" (ngSubmit)="addPackageContentTuesdayFunc(addPackageContentTuesday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Tuesday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentTuesday="ngModel" type="text" class="form-control" name="addPackageContentTuesday" placeholder="What 's in the menu on Tuesday">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelWednesday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentWednesday="ngForm" (ngSubmit)="addPackageContentWednesdayFunc(addPackageContentWednesday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Wednesday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentWednesday="ngModel" type="text" class="form-control" name="packageContentWednesday" placeholder="What 's in the menu on Wednesday">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelThursday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentThursday="ngForm" (ngSubmit)="addPackageContentThursdayFunc(addPackageContentThursday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Thursday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentThursday="ngModel" type="text" class="form-control" name="packageContentThursday" placeholder="What 's in the menu on Thursday">
                    </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelFriday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentFriday="ngForm" (ngSubmit)="addPackageContentFridayFunc(addPackageContentFriday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Friday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentFriday="ngModel" type="text" class="form-control" name="packageContentFriday" placeholder="What 's in the menu on Friday">
                    </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelSaturday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentSaturday="ngForm" (ngSubmit)="addPackageContentSaturdayFunc(addPackageContentSaturday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Saturday Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentSaturday="ngModel" type="text" class="form-control" name="packageContentSaturday" placeholder="What 's in the menu on Saturday">
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editMealModelSunday" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-lg" role="document">
        <form #addPackageContentSunday="ngForm" (ngSubmit)="addPackageContentSundayFunc(addPackageContentSunday)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Sunday Meal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea ngModel #packageContentSunday="ngModel" type="text" class="form-control" name="packageContentSunday" placeholder="What 's in the menu on Sunday">
                    </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="deletePackage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete Small Package permanenty?</p>
                <p>Once deleted you will loose all the data within package</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>

    </div>
</div>