.btnMealPackage {
    display: block;
    text-align: center;
    align-content: center;
    align-content: center;
    padding-bottom: 10px;
}
.btnMealPackage :hover {
    
    cursor: pointer;
}



dropdown-item :hover {
    cursor: pointer;
}

dropdown-menu :hover {
    cursor: pointer;
}