<!-- Navigation -->
<div id="backgroundImg">
    <link rel="stylesheet" href="https://blackrockdigital.github.io/startbootstrap-new-age/device-mockups/device-mockups.min.css">
    <ngx-spinner></ngx-spinner>
    <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-between sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/foodapp-d7dcc.appspot.com/o/logo.png?alt=media&token=9cd09381-b6fd-4029-8704-a9a645c4a84b" height="28"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">


                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-sign-in"></i>&nbsp;<b>LOGIN</b>
                </button>
                            <div class="dropdown-menu dropdown-menu-right shadow">
                                <form class="px-4 py-3" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                                    <div class="row" *ngIf="authError">
                                        <div class="col-12 alert alert-danger">{{authError?.message}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleDropdownFormEmail1"><i class="fa fa-envelope-square"></i>&nbsp;<b>Email address</b></label>
                                        <input ngModel #emaillog="ngModel" type="email" name="email" class="form-control" placeholder="email@example.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleDropdownFormPassword1"><i class="fa fa-key"></i>&nbsp;<b>Password</b></label>
                                        <input ngModel #passwordlog="ngModel" name="password" type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                        Remember me
                      </label>
                                    </div>
                                    <button type="submit" class="btn btn-outline-success btn-block">  &nbsp;<b>SIGN IN</b>
                    </button>

                                </form>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target=".bd-example-modal-lg">New around here? Sign up</a>
                                <a class="dropdown-item" href="#">Forgot password?</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <section id="hero">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                    <div>
                        <h1>Create, Update, Delete Meal Packages and Manage your customers</h1>
                        <!-- <h3>The page is for the providers, If you are a customer you can checkout our <b>android</b> app</h3>
                    <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                    <img src="https://bootstrapmade.com/demo/themes/Scaffold/assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->
    <section class="features" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup galaxy_s5 portrait black">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="https://firebasestorage.googleapis.com/v0/b/foodapp-d7dcc.appspot.com/o/Screenshot_1585700706.png?alt=media&token=f078e6c9-d1d4-472e-99b6-6cb476396116" class="img-fluid" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Device Mockups</h3>
                                    <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Flexible Use</h3>
                                    <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Free to Use</h3>
                                    <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Open Source</h3>
                                    <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <form #newProviderForm="ngForm" (ngSubmit)="newProvider(newProviderForm)" novalidate>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-address-card"></i>&nbsp;<b>NEW ACCOUNT</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12">
                            <div class="row" *ngIf="authError">
                                <div class="col-12 alert alert-danger">
                                    {{ authError?.message }}
                                </div>
                            </div>
                            <div class="col-md-3 float-left">
                                <div class="text-center">
                                    <div *ngIf="url">
                                        <img src="{{url}}" class="img-thumbnail" alt="avatar" width="100px" height="100px">
                                    </div>
                                    <h6>Upload a different photo...</h6>

                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" (change)="fileChangeEvent($event)">
                                        <label class="custom-file-label" for="customFile"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 float-right">

                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <label for="serviceName"><i class="fa fa-user"></i>&nbsp;<b>Service Name</b></label>
                                        <input ngModel #serviceName="ngModel" name="serviceName" type="text" class="form-control" id="serviceName" placeholder="Service Name" required>
                                        <div class="valid-tooltip">
                                            Looks good!
                                        </div>
                                        <div class="invalid-tooltip">
                                            Please provide a valid state.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <label for="address"><i class="fa fa-map-marker"></i>&nbsp;<b>Address</b></label>
                                        <input ngModel #address="ngModel" name="address" type="text" class="form-control" id="address" placeholder="123 Example St, State" required>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <label for="phone"><i class="fa fa-phone"></i>&nbsp;<b>Phone</b></label>
                                            <input ngModel #phone="ngModel" name="phone" type="text" class="form-control" id="phone" placeholder="(xxx) xxx-xxxx" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <label for="email"><i class="fa fa-envelope-square"></i>&nbsp;<b>Email</b></label>
                                            <input ngModel #email="ngModel" name="email" type="email" class="form-control" id="email" placeholder="email@example.com" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <label for="password"><i class="fa fa-key"></i>&nbsp;<b>Password</b></label>
                                            <input ngModel #password="ngModel" name="password" type="password" class="form-control" id="password" placeholder="Minimum 6 characters" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <label for="cpassword"><i class="fa fa-key"></i>&nbsp;<b>Confirm Password</b></label>
                                            <input ngModel #cpassword="ngModel" name="cpassword" type="password" class="form-control" id="cpassword" placeholder="Same as Password" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fa fa-window-close"></i>&nbsp;<b>CLOSE</b></button>
                        <button type="submit" class="btn btn-outline-success"><i class="fa fa-plus-square"></i>&nbsp;<b>REGISTER</b></button>
                    </div>

                </div>
            </div>

        </div>
