<div class="container">
  <br/>
    <h1>Change Your Information</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div *ngIf= "prov">
          <br/>
          <form #editProvider="ngForm" (ngSubmit)="editProvider(editProvider)" >
            <div class = "row">
              <div class="col-md-12 mb-2">
                <label for="serviceName">Service Name</label>
                <input name="serviceName" type="text" class="form-control" id="serviceName" value="{{prov.serviceName}}" >
              </div>
            </div>
            <div class ="row">
              <div class = "col-md-12 mb-2">
                <label for="address">Address</label>
                <input  name="address" type="test" class="form-control" value="{{prov?.address}}" >
              </div>
            </div>
             <div>
               <div class = "row">
                 <div class= "col-md-12 mb-2">
                    <label for="phone">Phone</label>
                    <input  name="phone" type="test" class="form-control" value="{{prov?.phone}}" >   
                 </div>
               </div>
               <div class = "row">
                <div class= "col-md-12 mb-2">
                   <label for="email">E-mail</label>
                   <input  name="email" type="email" class="form-control" id="email" value="{{prov?.email}}">   
                </div>
              </div>
             </div> 
          <div class="text-center form-sm mt-2">
            <button class="btn btn-info" name ="registerBtn" type="submit">Update</button>
          </div>
        </form>
      </div>
      </div>
  </div>
</div>
<br/><br/>