<div class="container">
  <div *ngIf= "prov">
  <br/>
    <h1>Change Your Information</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="{{prov.avatarImage}}" class="avatar img-circle" alt="avatar" width="100px" height="100px">
          <h6>Upload a different photo...</h6>
          
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelChangePicture">
            Change Profile Image
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="modelChangePicture" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Change Profile Image</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [roundCropper]="true"
    [aspectRatio]="1 / 1"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

                </div>
                <div class="modal-footer">
                  <form #uploadProfileImg="ngForm" (ngSubmit)="UploadProfileImgFunc(uploadProfileImg)" >
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        
          <br/>
          <form #editProvider="ngForm" (ngSubmit)="editProviderFunc(editProvider)" >
            <div class = "row">
              <div class="col-md-12 mb-2">
                <label for="serviceName"><b>Service Name</b></label>
                <input #serviceName="ngModel"  ngModel="{{prov.serviceName}}" name="serviceName" type="text" class="form-control" id="serviceName" value="{{prov.serviceName}}"  >
              </div>
            </div>
            <div class ="row">
              <div class = "col-md-12 mb-2">
                <label for="address"><b>Address</b></label>
                <input #address="ngModel"  ngModel="{{prov.address}}" name="address" type="test" class="form-control" value="{{prov.address}}">
              </div>
            </div>
             <div>
               <div class = "row">
                 <div class= "col-md-12 mb-2">
                    <label for="phone"><b>Phone</b></label>
                    <input  #phone="ngModel"  ngModel="{{prov.phone}}" name="phone" type="test" class="form-control" value="{{prov.phone}}" >   
                 </div>
               </div>
               <div class = "row">
                <div class= "col-md-12 mb-2">
                   <label for="email"><b>E-mail</b></label>
                   <input  #email="ngModel"  ngModel="{{prov.email}}" name="email" type="email" class="form-control" id="email" value="{{prov.email}}">   
                </div>
              </div>
             </div> 
          <div class="text-center form-sm mt-2">
            <button class="btn btn-info" name ="registerBtn" type="submit">Update</button>
          </div>
        </form>
      
      </div>
  </div>
  </div>
</div>
<br/><br/>