<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fa fa-list"></i>&nbsp;CUSTOMER LIST</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group justify-content-between btnMealPackage" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <table class="table table-bordered" >
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">DeliveryAddress</th>
                <th scope="col">Package Subscribed</th>
                <th scope="col">Package Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.firstName}}</td>
                <td>{{customer.lastName}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.deliveryAddress}}</td>
                <td>{{customer.packageSubscribedName}}</td>
                <td>{{customer.packagePrice}}</td>
            </tr>
        </tbody>
    </table>
</div>
