<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <nav class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <a routerLink="/dashboard/overView">
        <img src="../../../assets/img/logo.png" height="28" class="center">
       </a>
      </div>
      <div class="list-group list-group-flush">
        <a routerLink="/dashboard/overView" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a routerLink="/dashboard/updateMenu" class="list-group-item list-group-item-action bg-light">Update/Change Menu</a>
        <a routerLink="/dashboard/customerList" class="list-group-item list-group-item-action bg-light">Customer List</a>
        <a routerLink="/dashboard/editProfile"  class="list-group-item list-group-item-action bg-light">Profile</a>
      </div>
    </nav>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
    
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
    
            </div>
        </nav>
    </div>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>